body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
#game-container {
  text-align: center;
}
#timer {
  font-size: 10rem;
  margin-bottom: 20px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#myModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 2px solid #000;
  z-index: 1;
  padding: 2rem;

}
#modalContent {
  text-align: center;
}

#closeModalBtn {
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

#myModal.show-modal {
  display: block;
}

/* Additional styles for the grayed-out background when the modal is open */
#container.modal-open {
  filter: blur(2px); /* Add a slight blur effect to the main content */
  pointer-events: none; /* Allow clicks to pass through the overlay to the content underneath */
}

#container.modal-open #overlay {
  display: block;
}